@model LibraryMS.Models.Entity.tblMessages
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Alıcı Mail</label>
        @Html.TextBoxFor(x => x.Acceptor, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Konu</label>
        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>İçerik</label>
        @Html.TextAreaFor(x => x.Details, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Gönder</button>
    </div>
</form>