
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" href="/istatistik/Index/"><i class="fa-solid fa-house"></i> &nbsp; Ana Sayfa</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Category/Index/"><i class="fa-solid fa-layer-group"></i> &nbsp; Kategoriler</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Book/Index/"><i class="fa-solid fa-book"></i> &nbsp; Kitaplar</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Author/Index/"><i class="fa-sharp fa-solid fa-feather"></i> &nbsp; Yazarlar</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Member/Index/"><i class="fa-solid fa-circle-user"></i> &nbsp; Üyeler</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Employee/Index/"><i class="fa-solid fa-user"></i> &nbsp; Personeller</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Action/LendBook/"><i class="fa-solid fa-book"></i> &nbsp; Ödünç Kitap Ver</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Action/BorrowBookList/"><i class="fa-solid fa-book-open"></i> &nbsp; Ödünç Kitap Al</a>

                <a class="list-group-item list-group-item-action bg-light " href="/statistics/Index/"><i class="glyphicon glyphicon-sort"></i> &nbsp; İstatistikler</a>

                <a class="list-group-item list-group-item-action bg-light " href="/Duyuru/Index/"><i class="glyphicon glyphicon-earphone"></i> &nbsp; Duyurular</a>

                <a class="list-group-item list-group-item-action bg-light " href="/transactions/index/"><i class="fa-solid fa-book-open-reader"></i> &nbsp; Kitap İşlem Geçmişi</a>

                <a class="list-group-item list-group-item-action bg-light " href="/statistics/Hava/"><i class="glyphicon glyphicon-cloud"></i> &nbsp; Hava Raporu</a>

                <a class="list-group-item list-group-item-action bg-light " href="/statistics/HavaKart/"><i class="glyphicon glyphicon-plus"></i> &nbsp; Hava Kartları </a>

                <a class="list-group-item list-group-item-action bg-light " href="/statistics/Galeri/"><i class="glyphicon glyphicon-picture"></i> &nbsp; Galeri</a>

                <a class="list-group-item list-group-item-action bg-light " href="/statistics/LinqKart/"><i class="glyphicon glyphicon-bookmark"></i> &nbsp; Linq Kartlar</a>

                <a class="list-group-item list-group-item-action bg-light " href="/vitrin/Index/"><i class="glyphicon glyphicon-gift"></i> &nbsp; Vitrin</a>

                <a class="list-group-item list-group-item-action bg-light " href="#"><i class="glyphicon glyphicon-cog"></i> &nbsp; Ayarlar</a>

                <a class="list-group-item list-group-item-action bg-light " href="#"><i class="glyphicon glyphicon-phone"></i> &nbsp; Yardım</a>

                <a class="list-group-item list-group-item-action bg-light " href="#"><i class="glyphicon glyphicon-remove-sign"></i> &nbsp; Çıkış</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            @*<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>*@

            <div class="container-fluid my-5 container">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
