@using LibraryMS.Models.Entity
@model List<tblCategory>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="container my-5">
    <h1>Kategoriler</h1>

    <table class="table table-bordered">
        <tr>
            <th>
                Kategori Id
            </th>
            <th>
                Kategori Adı
            </th>
            <th>
              Sil
              
            </th>
            <th>
                Güncelle
            </th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
                <td><a href="/Category/DeleteCategory/@c.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/CallCategory/@c.Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="~/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>

</div>